<section class="h-[75vh] shadow-xl pt-20 pb-10 px-[10%] justify-between flex relative">
  <div class="flex flex-col justify-center">
    <h1 class="text-8xl font-extrabold mb-10">Neu im Sortiment</h1>
    <p class="w-2/3">Unsere SELECT Edition vereint die besten Kaffeesorten aus den renommiertesten Anbaugebieten der Welt. Mit höchster Sorgfalt ausgewählt und geröstet, bieten diese Kaffees eine außergewöhnliche Vielfalt an Aromen und Geschmacksrichtungen. Perfekt für Kaffeeliebhaber, die höchsten Genuss und unvergleichliche Qualität suchen.</p>
  </div>
  <img
    class="float-end h-full mr-[10%] transform rotate-6"
    src="assets/shop-hero.png"
    alt="shop hero image">
    
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-10 animate-bounce absolute bottom-3 left-1/2 transform -translate-x-1/2">
        <circle cx="12" cy="12" r="10"></circle>
        <polyline points="8 12 12 16 16 12"></polyline>
        <line x1="12" y1="8" x2="12" y2="16"></line>
      </svg>
</section>

<section class="h-full min-h-screen bg-white pt-20">
  

  <!-- Dropdown menu for roast level -->
  <select (change)="onRoastLevelChange($event)">
    <option value="">All Rüstungsgrad</option> <!-- Default option for all roast levels -->
    <option value="hell">Hell</option>
    <option value="mittel">Mittel</option>
    <option value="dunkel">Dunkel</option>
  </select>

  <!-- Dropdown menu for specialty (Sorten) -->
  <select (change)="onSpecialtyChange($event)">
    <option value="">All Sorten</option> <!-- Default option for all specialties -->
    <option value="Gold">Gold</option>
    <option value="Premium">Premium</option>
    <option value="Bronze">Bronze</option>
    <option value="Meisterstück">Meisterstück</option>
    <option value="Deluxe">Deluxe</option>
    <option value="Elegant">Elegant</option>
    <option value="Röstmeister">Röstmeister</option>
    <option value="Select">Select</option>
  </select>

  <!-- Search bar -->
  <input 
    type="text" 
    [(ngModel)]="searchText" 
    (input)="filterItems()" 
    placeholder="Search by title" 
  />

  <div class="flex flex-wrap justify-center gap-6 max-w-[1700px] mx-auto">
    <app-item-card
      *ngFor="let item of filteredItems"
      [imagePath]="item.imagePath"
      [title]="item.title"
      [description]="item.description"
      [price]="item.price"
      [weight]="item.weight"
      [roastLevel]="item.roastLevel"
      [specialty]="item.specialty"
    ></app-item-card>
  </div>
</section>
