<!-- Footer Section -->
<footer class="bg-customDark text-white py-10">
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row justify-between items-start">
        
        <!-- Logo Column -->
        <div class="mb-8 md:mb-0 flex flex-col">
            <a href="/home" class="font-bold text-3xl">
                Brewly
            </a>

            <input
            type="text"
            placeholder="Newsletter"
            class="flex-grow px-4 py-2 mt-6 text-customDark bg-white border border-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
            />
            
        </div>
  
        <!-- Legal Information Column -->
        <div class="mb-8 md:mb-0">
          <h3 class="text-lg font-semibold mb-4">Rechtliches</h3>
          <ul class="space-y-2">
            <li><span>Impressum</span></li>
            <li><span>Datenschutz</span></li>
            <li><span>AGB</span></li>
          </ul>
        </div>
  
        <!-- Company Information Column -->
        <div class="mb-8 md:mb-0">
          <h3 class="text-lg font-semibold mb-4">Über Uns</h3>
          <ul class="space-y-2">
            <li><a [routerLink]="['/about']" class="hover:underline">Über uns</a></li>
            <li><span>Kontakt</span></li>
            <li><span>Karriere</span></li>
          </ul>
        </div>
  
        <!-- Social Media Column -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Folge Uns</h3>
          <div class="flex space-x-4">
            <a href="#" class="hover:text-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
                <path d="M22.46 6c-.77.34-1.6.57-2.46.67a4.29 4.29 0 0 0 1.88-2.37 8.61 8.61 0 0 1-2.73 1.04A4.3 4.3 0 0 0 16.7 4c-2.38 0-4.31 1.93-4.31 4.31 0 .34.03.68.1 1a12.22 12.22 0 0 1-8.9-4.53 4.31 4.31 0 0 0 1.33 5.74A4.27 4.27 0 0 1 2 8.3v.05a4.3 4.3 0 0 0 3.45 4.22 4.32 4.32 0 0 1-1.13.15 4.31 4.31 0 0 1-.8-.08 4.3 4.3 0 0 0 4.01 2.97A8.64 8.64 0 0 1 2 19.54a12.14 12.14 0 0 0 6.57 1.93c7.88 0 12.21-6.53 12.21-12.21 0-.19-.01-.38-.02-.57A8.64 8.64 0 0 0 22.46 6z"/>
              </svg>
            </a>
            <a href="#" class="hover:text-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
                <path d="M18 2h-3a4 4 0 0 0-4 4v3H7v4h4v9h4v-9h3l1-4h-4V6a1 1 0 0 1 1-1h3z"/>
              </svg>
            </a>
            <a href="#" class="hover:text-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
                <path d="M17 11a5 5 0 1 0-10 0 5 5 0 0 0 10 0z"/>
                <path d="M17 7h.01"/>
              </svg>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
  