<section class="flex items-center h-screen relative overflow-hidden shadow-xl">
  <div
    class="relative border-dashed border-8 border-white ml-64 w-[900px] h-[500px] p-12 z-20"
  >
    <h1 class="text-8xl font-extrabold z-30">
      Discover the Art<br />of Fresh Coffee
    </h1>

    <button
      [routerLink]="['/shop']"
      class="absolute bottom-10 right-24 inline-flex items-center justify-center p-1 mb-2 me-2 overflow-hidden text-2xl font-bold rounded-lg group bg-gradient-to-br from-orange-500 to-orange-700 group-hover:from-orange-500 group-hover:to-orange-700 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-800 shadow-md"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0"
      >
        Jetzt entdecken!
      </span>
    </button>
  </div>
  <img
    id="mug"
    src="assets/mug.png"
    class="absolute right-20 top-[25%] w-[600px]"
  />

  <!-- home.component.html -->
  <img
    id="bean1"
    src="assets/bean1.png"
    class="absolute z-10 h-[200px] top-[25%] left-[10%] transform rotate-45"
  />
  <img
    id="bean2"
    src="assets/bean1.png"
    class="absolute z-30 h-[230px] top-[60%] left-[25%] transform -rotate-45"
  />
  <img
    id="bean3"
    src="assets/bean1.png"
    class="absolute z-30 h-[150px] top-[15%] left-[40%] transform -rotate-12"
  />
  <img
    id="bean4"
    src="assets/bean1.png"
    class="absolute z-10 h-[100px] top-[70%] left-[55%] transform rotate-45"
  />
</section>

<section class="h-screen w-full py-30 flex flex-col justify-center bg-white">
  <div class="w-[1200px] mx-auto">
    <!-- First Row: Image Left, Text Right -->
    <div class="flex items-center h-min">
      <div class="w-1/2 p-8">
        <img src="assets/happy-farmer.jpg" class="w-[500px] shadow-xl" />
      </div>
      <div class="w-1/2 p-8">
        <h2 class="text-4xl font-bold mb-4 text-customDark">Nachhaltigkeit</h2>
        <p class="text-lg text-customDark">
          Unsere Bohnen wachsen auf nachhaltigen Kaffeefarmen, bei denen für
          jeden angebauten Quadratmeter ein Quadratmeter Regenwald geschützt
          wird. Lokale Bauern, die nach umweltfreundlichen Prinzipien arbeiten,
          profitieren von fairen Löhnen. Genießen Sie köstlichen Kaffee, der
          nicht nur die Umwelt schont, sondern auch die Lebensgrundlagen der
          Menschen vor Ort stärkt.
        </p>
      </div>
    </div>

    <!-- Second Row: Text Left, Image Right -->
    <div class="flex items-center h-min">
      <div class="w-1/2 p-8">
        <h2 class="text-4xl font-bold mb-4 text-customDark">
          Feinste Röstkunst
        </h2>
        <p class="text-lg text-customDark">
          Wir sind sehr darauf bedacht, nur die besten Kaffeebohnen für unsere
          Kaffees auszuwählen, damit Sie ein unvergessliches Geschmackserlebnis
          genießen können. Jede Bohne durchläuft einen strengen Auswahlprozess,
          bevor sie in kleinen Chargen schonend geröstet wird. Dieses
          handwerkliche Röstverfahren entfaltet das volle Aroma und die feinen
          Nuancen jeder Sorte. So erhalten Sie Kaffee von unvergleichlicher
          Qualität, der sich durch Tiefe, Geschmack und Balance auszeichnet.
        </p>
      </div>
      <div class="w-1/2 p-8">
        <img src="assets/beans-hand.jpg" class="w-[500px] ml-auto shadow-xl" />
      </div>
    </div>
  </div>
</section>

<section
  class="h-screen w-full flex flex-col justify-center pt-[150px] pb-20 text-customDark"
>
  <h1 class="text-6xl font-extrabold z-30 text-center text-white mb-20">
    Vom Röster empfohlen
  </h1>

  <!-- Product Cards Section -->
  <div class="flex justify-center items-center h-min w-full mb-20">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <app-item-card
        *ngFor="let item of itemCards"
        [imagePath]="item.imagePath"
        [title]="item.title"
        [description]="item.description"
        [price]="item.price"
        [weight]="item.weight"
        [roastLevel]="item.roastLevel"
        [specialty]="item.specialty"
      ></app-item-card>
    </div>
  </div>
</section>
