<div class="w-96 h-[500px] hover:cursor-pointer bg-white border border-gray-200 rounded-lg shadow-xl p-8 flex flex-col text-black group">
    <img class="shadow-md rounded-md mb-6 w-auto h-64 object-cover" [src]="imagePath" alt="product image" />
    <div class="flex-grow">
      <h5 class="text-xl font-bold tracking-tight line-clamp-2">{{ title }} {{ weight }}g</h5>
      <p class="text-sm line-clamp-3">
        {{ description }}
      </p>
    </div>
    <div class="mt-auto flex items-center justify-between">
      <button class="inline-flex font-bold items-center justify-center mb-2 me-2 overflow-hidden text-sm rounded-lg bg-gradient-to-br from-orange-500 to-orange-700 shadow-md opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md text-white">
          In den Warenkorb
        </span>
      </button>
      <span class="text-3xl font-bold">{{ price }} €</span>
    </div>
  </div>